
body {
	margin:0px;
	padding:0px;
}
section#input-form {
	background-color:white;
    border: 1px solid black;
    position: relative;
    margin-top: 60px;
    border-radius: 6px;
    box-shadow: 0 0 7px 0px rgba(136, 146, 146, 0.2);
    padding: 30px;
    align-content: center;
    margin-left: 35%;
    width: 300px;
    height: 430px;
}
section#input-form-2 {
	background-color:white;
    border: 1px solid black;
    position: relative;
    margin-top: 60px;
    border-radius: 6px;
    box-shadow: 0 0 7px 0px rgba(136, 146, 146, 0.2);
    padding: 30px;
    margin-left: 30%;
    width: 430px;
    margin-bottom: 50px;
}
section#input-form-3 {
	background-color:white;
    border: 1px solid black;
    position: relative;
    margin-top: 60px;
    border-radius: 6px;
    box-shadow: 0 0 7px 0px rgba(136, 146, 146, 0.2);
    padding: 30px;
    margin-left: 35%;
    width: 280px;
}
#alert{
	margin-top: 10px;
	margin-bottom:5px;
	color: red;
	text-align: center;
}

.btn-login {
	margin-top: 10px;
	border-radius: 1.17647rem;
	cursor: pointer;
	font-size: 16px;
	width: 90px;
	height: 40px;
	margin-left: 30px;
	background-color: #55a8fd;
	color: #ffff;
	border: 1px solid #55a8fd;
}
.btn-login:hover{
	box-shadow: 0 0 7px 0px #55a8fd;
}
.btn-login-2 {
	font-size: 18px;
	height: 40px;
	border-radius: 1.17647rem;
	cursor: pointer;
	width: 100%;
	margin-top: 30px;
	background-color: #55a8fd;
	color: #fff;
	border: 1px solid #55a8fd;
}
.btn-login-2:hover{
	box-shadow: 0 0 7px 0px #55a8fd;
}
.btn-reset {
	border-radius: 1.17647rem;
	cursor:pointer;
	width: 90px;
	margin-left: 50px;
	background-color: #C03336;
	color: #fff;
	border: 1px solid #C03336;
}
.btn-reset-2 {
	font-size: 18px;
	border-radius: 1.17647rem;
	cursor:pointer;
	width: 100%;
	background-color: #C03336;
	color: #fff;
	border: 1px solid #C03336;
}
.btn-reset:hover{
	box-shadow: 0 0 7px 0px #C03336;
}
.btn-reset-2:hover {
	box-shadow: 0 0 7px 0px #C03336;
}
label{
	font-family: 'helvatica',sans-serif;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}
input{
	font-size: 'helvatica', sans-serif;
	padding: 10px 20px 10px 20px;
	outline: none;
	border-radius: 3px;
	border: 1px solid #8888;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
}

/* CARA MEMBUAT WEB RESPONSIV */
@media(min-width: 320px) and (max-width: 725px){
	section#input-form{
		position:absolute;
		margin-left:auto;
		margin-right:auto;
		margin-top:auto;
		margin-bottom:auto;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	section#input-form-2{
		position:absolute;
		margin-left:auto;
		margin-right:auto;
		margin-top:auto;
		margin-bottom:auto;
		left:20px;
		right:20px;
		top:20px;
		}
	section#input-form-3{
		position:absolute;
		margin-left:auto;
		margin-right:auto;
		margin-top:auto;
		margin-bottom:auto;
		left:0;
		right:0;
		top:10%;
		bottom:45%;
	}
}
